Generate configurations for Squid

Hi,

It would be very useful if the config generator were extended to support [Squid](http://www.squid-cache.org/), a widely used HTTP proxy/cache. A list of SSL/TLS-related options is available under [http\_port](http://www.squid-cache.org/Doc/config/http_port/), as well as in the [config homepage](http://www.squid-cache.org/Doc/config/) under `sslproxy_`.

Thanks!

Would you be willing to paste in a working configuration file? It's really hard to find the time to build them from scratch.

Thanks!

Sure! Here are the default configs, which doesn't enable HTTPS:

```
#
# Recommended minimum configuration:
#

# Example rule allowing access from your local networks.
# Adapt to list your (internal) IP networks from where browsing
# should be allowed
acl localnet src 0.0.0.1-0.255.255.255	# RFC 1122 "this" network (LAN)
acl localnet src 10.0.0.0/8		# RFC 1918 local private network (LAN)
acl localnet src 100.64.0.0/10		# RFC 6598 shared address space (CGN)
acl localnet src 169.254.0.0/16 	# RFC 3927 link-local (directly plugged) machines
acl localnet src 172.16.0.0/12		# RFC 1918 local private network (LAN)
acl localnet src 192.168.0.0/16		# RFC 1918 local private network (LAN)
acl localnet src fc00::/7       	# RFC 4193 local private network range
acl localnet src fe80::/10      	# RFC 4291 link-local (directly plugged) machines

acl SSL_ports port 443
acl Safe_ports port 80		# http
acl Safe_ports port 21		# ftp
acl Safe_ports port 443		# https
acl Safe_ports port 70		# gopher
acl Safe_ports port 210		# wais
acl Safe_ports port 1025-65535	# unregistered ports
acl Safe_ports port 280		# http-mgmt
acl Safe_ports port 488		# gss-http
acl Safe_ports port 591		# filemaker
acl Safe_ports port 777		# multiling http
acl CONNECT method CONNECT

#
# Recommended minimum Access Permission configuration:
#
# Deny requests to certain unsafe ports
http_access deny !Safe_ports

# Deny CONNECT to other than secure SSL ports
http_access deny CONNECT !SSL_ports

# Only allow cachemgr access from localhost
http_access allow localhost manager
http_access deny manager

# We strongly recommend the following be uncommented to protect innocent
# web applications running on the proxy server who think the only
# one who can access services on "localhost" is a local user
#http_access deny to_localhost

#
# INSERT YOUR OWN RULE(S) HERE TO ALLOW ACCESS FROM YOUR CLIENTS
#

# Example rule allowing access from your local networks.
# Adapt localnet in the ACL section to list your (internal) IP networks
# from where browsing should be allowed
http_access allow localnet
http_access allow localhost

# And finally deny all other access to this proxy
http_access deny all

# Squid normally listens to port 3128
http_port 3128

# Uncomment and adjust the following to add a disk cache directory.
#cache_dir ufs /var/cache/squid 100 16 256

# Leave coredumps in the first cache dir
coredump_dir /var/cache/squid

#
# Add any of your own refresh_pattern entries above these.
#
refresh_pattern ^ftp:		1440	20%	10080
refresh_pattern ^gopher:	1440	0%	1440
refresh_pattern -i (/cgi-bin/|\?) 0	0%	0
refresh_pattern .		0	20%	4320
```

To enable HTTPS proxying – the stuff we care about – this is the line that I personally add to the above, modeled after the config generator's "Modern" recommendation (TLS 1.3 only):

```
https_port 8080 tls-cert=fullchain.pem tls-key=privkey.pem options=NO_SSLv3,NO_TLSv1,NO_TLSv1_1,NO_TLSv1_2,NO_TICKET
```

Note that this, I believe, only works with Squid ≥ 4.0 and modern versions of OpenSSL. In particular, Squid 3.5.x is hardcoded to disallow any TLS version above 1.0 (see https://github.com/squid-cache/squid/blob/SQUID_3_5_28/src/cache_cf.cc#L3742; 4 [means](https://github.com/squid-cache/squid/blob/SQUID_3_5_28/src/ssl/support.cc#L1110-L1113) TLS 1.0). I could be wrong though.

The `options` syntax is supposed to allow setting any options supported by [`SSL_CTX_set_options`](https://www.openssl.org/docs/man1.1.1/man3/SSL_CTX_set_options.html).

Hope this helps.